.con-brand{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   
}
.con-brand div{
    flex: 1;
    max-width: 150px;
    min-width: 120px;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media(max-width:991px){
    .con-brand img{
        display: flex;
        flex: 1;
        margin-right: 30px;
    }
}