.container-article{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: var(--color-footer);
}
.container-article .img-article{
    width: 100%;
    height: 100%;
    background: var(--color-bg);
}
.container-article .img-article img{
    width: 100%;
    height: 100%;
}
.container-article .article-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    height: 100%;
}
.container-article .article-content p{
    font-family: var(--font-family);
    font-size: 11.65px;
    font-weight: 700;
    line-height: 35px;
    color: #fff;
}
.container-article .article-content h3{
    font-family: var(--font-family);
    font-size: 25.11px;
    font-weight: 800;
    line-height: 30.30px;
    color: #fff;
    margin-bottom: 5rem;
    cursor: pointer;
}
.container-article .article-content p:last-child{
    cursor: pointer;
}