.container-footer{
    background: var(--color-footer);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    padding-bottom: 100px;
}
.container-footer .head{
    width: 100%;
    text-align: center;
    margin-bottom: 3rem;
    width: 50%;
    margin-top: 100px;
}
.container-footer .head h1{
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 64px;
    line-height: 75px;
}
.container-footer .btn{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1rem;
    border: 1px solid #fff;
    text-align: center;

    margin-bottom: 10rem;
    cursor: pointer;
}
.container-footer .btn p{
    font-size: 18px;
    font-family: var(--font-family);
    line-height: 21px;
    color: #fff;
    word-spacing: 2px;
}
.container-footer .links{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: start;
    flex-wrap: wrap;
    width: 100%;
}
.container-footer .links .logo img{
    width: 118px;
    height: 30px;
}
.container-footer .links .logo p{
    font-family: var(--font-family);
    font-size: 12px;
    line-height: 15px;
    color: #fff;
    margin-top: 1rem;
}
.container-footer .links .box{
    color: #fff;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.container-footer .box h4{
    font-size: 14px;
    line-height: 17px;
    font-family: var(--font-family);
    margin-bottom: 0.9rem;
}
.container-footer .box p{
    font-size: 12px;
    line-height: 15px;
    font-family: var(--font-family);
    margin: 0.5rem 0;
    cursor: pointer;
}
.container-footer .copy-right{
    margin-top: 2rem;
    text-align: center;
    width: 100%;
}
.container-footer .copy-right p{
    font-size: 12px;
    font-family: var(--font-family);
    line-height: 15px;
    color: #fff;
}